In [1]:
!pip install pandas-datareader
!pip install yfinance

Requirement already satisfied: pandas-datareader in c:\users\rajsa\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\rajsa\anaconda3\lib\site-packages (from pandas-datareader) (2.26.0)
Requirement already satisfied: lxml in c:\users\rajsa\anaconda3\lib\site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: pandas>=0.23 in c:\users\rajsa\appdata\roaming\python\python39\site-packages (from pandas-datareader) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\rajsa\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rajsa\appdata\roaming\python\python39\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\rajsa\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\rajsa\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rajsa\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rajsa\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rajsa\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\rajsa\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: yfinance in c:\users\rajsa\anaconda3\lib\site-packages (0.1.69)
Requirement already satisfied: pandas>=0.24 in c:\users\rajsa\appdata\roaming\python\python39\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\rajsa\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.26 in c:\users\rajsa\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: numpy>=1.15 in c:\users\rajsa\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: lxml>=4.5.1 in c:\users\rajsa\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rajsa\appdata\roaming\python\python39\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\rajsa\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\rajsa\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\rajsa\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rajsa\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rajsa\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rajsa\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)

In [1]:
import numpy as np
import pandas as pd 
from pandas_datareader import data as pdr
from datetime import datetime
import os
import yfinance as yf
yf.pdr_override()

In [2]:
nse200 = pd.read_csv('ind_nifty200list.csv')
for i in range(len(nse200)):
    nse200['Symbol'][i] = nse200['Symbol'][i] + '.NS'
    
list_of_stocks = pd.DataFrame(nse200['Symbol'])
list_of_stocks

            Symbol
0           ACC.NS
1        AUBANK.NS
2      AARTIIND.NS
3      ADANIENT.NS
4    ADANIGREEN.NS
..             ...
195      VOLTAS.NS
196   WHIRLPOOL.NS
197       WIPRO.NS
198     YESBANK.NS
199        ZEEL.NS

[200 rows x 1 columns]

In [3]:
start = datetime(2018,11,5)
end = datetime(2022,2,1)

In [4]:
#This function returns a pd dataframe with all of the adjusted closing information
def get_historical_Data(tickers):
    data = pd.DataFrame()
    names = list()
    for i in tickers:
        data = pd.concat([data, pd.DataFrame(yf.download(i, start=start, end=end).iloc[:,4])], axis = 1)
        names.append(i)
    data.columns = names
    print(names)
    return data

ticks = nse200['Symbol'].tolist()
d = get_historical_Data(ticks)
print(d.shape)
d.tail()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
['ACC.NS', 'AUBANK.NS', 'AARTIIND.NS', 'ADANIENT.NS', 'ADANIGREEN.NS', 'ADANIPORTS.NS', 'ATGL.NS', 'ADANITRANS.NS', 'ABCAPITAL.NS', 'ABFRL.NS', 'AJANTPHARM.NS', 'APLLTD.NS', 'ALKEM.NS', 'AMARAJABAT.NS', 'AMBUJACEM.NS', 'APOLLOHOSP.NS', 'APOLLOTYRE.NS', 'ASHOKLEY.NS', 'ASIANPAINT.NS', 'ASTRAL.NS', 'AUROPHARMA.NS', 'DMART.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJFINANCE.NS', 'BAJAJFINSV.NS', 'BAJAJHLDNG.NS', 'BALKRISIND.NS', 'BANDHANBNK.NS', 'BANKBARODA.NS', 'BANKINDIA.NS', 'BATAINDIA.NS', 'BERGEPAINT.NS', 'BEL.NS', 'BHARATFORG.NS', 'BHEL.NS', 'BPCL.NS', 'BHARTIARTL.NS', 'BIOCON.NS', 'BOSCHLTD.NS', 'BRITANNIA.NS', 'CADILAHC.NS', 'CANBK.NS', 'CASTROLIND.NS', 'CHOLAFIN.NS', 'CIPLA.NS', 'CUB.NS', 'COALINDIA.NS', 'COFORGE.NS', 'COLPAL.NS', 'CONCOR.NS', 'COROMANDEL.NS', 'CROMPTON.NS', 'CUMMINSIND.NS', 'DLF.NS', 'DABUR.NS', 'DALBHARAT.NS', 'DEEPAKNTR.NS', 'DHANI.NS', 'DIVISLAB.NS', 'DIXON.NS', 'LALPATHLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'EMAMILTD.NS', 'ENDURANCE.NS', 'ESCORTS.NS', 'EXIDEIND.NS', 'FEDERALBNK.NS', 'FORTIS.NS', 'GAIL.NS', 'GLAND.NS', 'GLENMARK.NS', 'GODREJCP.NS', 'GODREJIND.NS', 'GODREJPROP.NS', 'GRASIM.NS', 'GUJGASLTD.NS', 'GSPL.NS', 'HCLTECH.NS', 'HDFCAMC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HAVELLS.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HAL.NS', 'HINDCOPPER.NS', 'HINDPETRO.NS', 'HINDUNILVR.NS', 'HINDZINC.NS', 'HDFC.NS', 'ICICIBANK.NS', 'ICICIGI.NS', 'ICICIPRULI.NS', 'ISEC.NS', 'IDFCFIRSTB.NS', 'ITC.NS', 'INDIAMART.NS', 'INDIANB.NS', 'INDHOTEL.NS', 'IOC.NS', 'IRCTC.NS', 'IRFC.NS', 'IGL.NS', 'INDUSTOWER.NS', 'INDUSINDBK.NS', 'NAUKRI.NS', 'INFY.NS', 'INDIGO.NS', 'IPCALAB.NS', 'JSWENERGY.NS', 'JSWSTEEL.NS', 'JINDALSTEL.NS', 'JUBLFOOD.NS', 'KOTAKBANK.NS', 'L&TFH.NS', 'LTTS.NS', 'LICHSGFIN.NS', 'LTI.NS', 'LT.NS', 'LAURUSLABS.NS', 'LUPIN.NS', 'MRF.NS', 'MGL.NS', 'M&MFIN.NS', 'M&M.NS', 'MANAPPURAM.NS', 'MARICO.NS', 'MARUTI.NS', 'MFSL.NS', 'MINDTREE.NS', 'MPHASIS.NS', 'MUTHOOTFIN.NS', 'NATCOPHARM.NS', 'NMDC.NS', 'NTPC.NS', 'NATIONALUM.NS', 'NAVINFLUOR.NS', 'NESTLEIND.NS', 'NAM-INDIA.NS', 'OBEROIRLTY.NS', 'ONGC.NS', 'OIL.NS', 'PIIND.NS', 'PAGEIND.NS', 'PETRONET.NS', 'PFIZER.NS', 'PIDILITIND.NS', 'PEL.NS', 'POLYCAB.NS', 'PFC.NS', 'POWERGRID.NS', 'PRESTIGE.NS', 'PGHH.NS', 'PNB.NS', 'RBLBANK.NS', 'RECLTD.NS', 'RELIANCE.NS', 'SBICARD.NS', 'SBILIFE.NS', 'SRF.NS', 'SANOFI.NS', 'SHREECEM.NS', 'SRTRANSFIN.NS', 'SIEMENS.NS', 'SONACOMS.NS', 'SBIN.NS', 'SAIL.NS', 'SUNPHARMA.NS', 'SUNTV.NS', 'SYNGENE.NS', 'TVSMOTOR.NS', 'TATACHEM.NS', 'TATACOMM.NS', 'TCS.NS', 'TATACONSUM.NS', 'TATAELXSI.NS', 'TATAMOTORS.NS', 'TATAPOWER.NS', 'TATASTEEL.NS', 'TECHM.NS', 'RAMCOCEM.NS', 'TITAN.NS', 'TORNTPHARM.NS', 'TORNTPOWER.NS', 'TRENT.NS', 'UPL.NS', 'ULTRACEMCO.NS', 'UNIONBANK.NS', 'UBL.NS', 'MCDOWELL-N.NS', 'VBL.NS', 'VEDL.NS', 'IDEA.NS', 'VOLTAS.NS', 'WHIRLPOOL.NS', 'WIPRO.NS', 'YESBANK.NS', 'ZEEL.NS']
(801, 200)

,ACC.NS,AUBANK.NS,AARTIIND.NS,ADANIENT.NS,ADANIGREEN.NS,ADANIPORTS.NS,ATGL.NS,ADANITRANS.NS,ABCAPITAL.NS,ABFRL.NS,...,UBL.NS,MCDOWELL-N.NS,VBL.NS,VEDL.NS,IDEA.NS,VOLTAS.NS,WHIRLPOOL.NS,WIPRO.NS,YESBANK.NS,ZEEL.NS
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-24,2167.449951,1229.500000,982.400024,1715.800049,1837.849976,702.450012,1781.150024,2035.900024,114.900002,284.549988,...,1523.800049,855.349976,900.650024,312.100006,10.95,1187.449951,1798.699951,572.750000,13.45,268.100006
2022-01-25,2179.949951,1246.449951,981.799988,1741.400024,1929.000000,711.099976,1825.199951,1992.449951,117.699997,289.450012,...,1557.949951,874.950012,872.700012,318.049988,11.30,1190.900024,1780.300049,562.700012,13.60,288.799988
2022-01-27,2167.699951,1275.699951,972.799988,1686.000000,1910.250000,709.099976,1830.750000,2009.300049,116.949997,284.299988,...,1507.199951,842.099976,864.000000,328.200012,10.65,1185.550049,1791.699951,544.750000,13.55,283.200012
2022-01-28,2215.949951,1271.550049,991.750000,1693.699951,1938.400024,710.150024,1830.900024,1986.800049,118.199997,287.750000,...,1549.849976,854.950012,886.500000,327.649994,10.80,1157.150024,1836.750000,552.150024,13.35,285.500000
2022-01-31,2285.750000,1309.550049,986.900024,1714.949951,1877.849976,716.299988,1821.250000,1970.900024,117.650002,293.549988,...,1619.199951,866.400024,904.849976,321.750000,10.65,1183.300049,1850.900024,572.599976,13.30,289.549988

In [5]:
ticks

['ACC.NS',
 'AUBANK.NS',
 'AARTIIND.NS',
 'ADANIENT.NS',
 'ADANIGREEN.NS',
 'ADANIPORTS.NS',
 'ATGL.NS',
 'ADANITRANS.NS',
 'ABCAPITAL.NS',
 'ABFRL.NS',
 'AJANTPHARM.NS',
 'APLLTD.NS',
 'ALKEM.NS',
 'AMARAJABAT.NS',
 'AMBUJACEM.NS',
 'APOLLOHOSP.NS',
 'APOLLOTYRE.NS',
 'ASHOKLEY.NS',
 'ASIANPAINT.NS',
 'ASTRAL.NS',
 'AUROPHARMA.NS',
 'DMART.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS',
 'BAJAJFINSV.NS',
 'BAJAJHLDNG.NS',
 'BALKRISIND.NS',
 'BANDHANBNK.NS',
 'BANKBARODA.NS',
 'BANKINDIA.NS',
 'BATAINDIA.NS',
 'BERGEPAINT.NS',
 'BEL.NS',
 'BHARATFORG.NS',
 'BHEL.NS',
 'BPCL.NS',
 'BHARTIARTL.NS',
 'BIOCON.NS',
 'BOSCHLTD.NS',
 'BRITANNIA.NS',
 'CADILAHC.NS',
 'CANBK.NS',
 'CASTROLIND.NS',
 'CHOLAFIN.NS',
 'CIPLA.NS',
 'CUB.NS',
 'COALINDIA.NS',
 'COFORGE.NS',
 'COLPAL.NS',
 'CONCOR.NS',
 'COROMANDEL.NS',
 'CROMPTON.NS',
 'CUMMINSIND.NS',
 'DLF.NS',
 'DABUR.NS',
 'DALBHARAT.NS',
 'DEEPAKNTR.NS',
 'DHANI.NS',
 'DIVISLAB.NS',
 'DIXON.NS',
 'LALPATHLAB.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'EMAMILTD.NS',
 'ENDURANCE.NS',
 'ESCORTS.NS',
 'EXIDEIND.NS',
 'FEDERALBNK.NS',
 'FORTIS.NS',
 'GAIL.NS',
 'GLAND.NS',
 'GLENMARK.NS',
 'GODREJCP.NS',
 'GODREJIND.NS',
 'GODREJPROP.NS',
 'GRASIM.NS',
 'GUJGASLTD.NS',
 'GSPL.NS',
 'HCLTECH.NS',
 'HDFCAMC.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HAVELLS.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HAL.NS',
 'HINDCOPPER.NS',
 'HINDPETRO.NS',
 'HINDUNILVR.NS',
 'HINDZINC.NS',
 'HDFC.NS',
 'ICICIBANK.NS',
 'ICICIGI.NS',
 'ICICIPRULI.NS',
 'ISEC.NS',
 'IDFCFIRSTB.NS',
 'ITC.NS',
 'INDIAMART.NS',
 'INDIANB.NS',
 'INDHOTEL.NS',
 'IOC.NS',
 'IRCTC.NS',
 'IRFC.NS',
 'IGL.NS',
 'INDUSTOWER.NS',
 'INDUSINDBK.NS',
 'NAUKRI.NS',
 'INFY.NS',
 'INDIGO.NS',
 'IPCALAB.NS',
 'JSWENERGY.NS',
 'JSWSTEEL.NS',
 'JINDALSTEL.NS',
 'JUBLFOOD.NS',
 'KOTAKBANK.NS',
 'L&TFH.NS',
 'LTTS.NS',
 'LICHSGFIN.NS',
 'LTI.NS',
 'LT.NS',
 'LAURUSLABS.NS',
 'LUPIN.NS',
 'MRF.NS',
 'MGL.NS',
 'M&MFIN.NS',
 'M&M.NS',
 'MANAPPURAM.NS',
 'MARICO.NS',
 'MARUTI.NS',
 'MFSL.NS',
 'MINDTREE.NS',
 'MPHASIS.NS',
 'MUTHOOTFIN.NS',
 'NATCOPHARM.NS',
 'NMDC.NS',
 'NTPC.NS',
 'NATIONALUM.NS',
 'NAVINFLUOR.NS',
 'NESTLEIND.NS',
 'NAM-INDIA.NS',
 'OBEROIRLTY.NS',
 'ONGC.NS',
 'OIL.NS',
 'PIIND.NS',
 'PAGEIND.NS',
 'PETRONET.NS',
 'PFIZER.NS',
 'PIDILITIND.NS',
 'PEL.NS',
 'POLYCAB.NS',
 'PFC.NS',
 'POWERGRID.NS',
 'PRESTIGE.NS',
 'PGHH.NS',
 'PNB.NS',
 'RBLBANK.NS',
 'RECLTD.NS',
 'RELIANCE.NS',
 'SBICARD.NS',
 'SBILIFE.NS',
 'SRF.NS',
 'SANOFI.NS',
 'SHREECEM.NS',
 'SRTRANSFIN.NS',
 'SIEMENS.NS',
 'SONACOMS.NS',
 'SBIN.NS',
 'SAIL.NS',
 'SUNPHARMA.NS',
 'SUNTV.NS',
 'SYNGENE.NS',
 'TVSMOTOR.NS',
 'TATACHEM.NS',
 'TATACOMM.NS',
 'TCS.NS',
 'TATACONSUM.NS',
 'TATAELXSI.NS',
 'TATAMOTORS.NS',
 'TATAPOWER.NS',
 'TATASTEEL.NS',
 'TECHM.NS',
 'RAMCOCEM.NS',
 'TITAN.NS',
 'TORNTPHARM.NS',
 'TORNTPOWER.NS',
 'TRENT.NS',
 'UPL.NS',
 'ULTRACEMCO.NS',
 'UNIONBANK.NS',
 'UBL.NS',
 'MCDOWELL-N.NS',
 'VBL.NS',
 'VEDL.NS',
 'IDEA.NS',
 'VOLTAS.NS',
 'WHIRLPOOL.NS',
 'WIPRO.NS',
 'YESBANK.NS',
 'ZEEL.NS']

In [6]:
corr_df = d.corr()
corr_df

,ACC.NS,AUBANK.NS,AARTIIND.NS,ADANIENT.NS,ADANIGREEN.NS,ADANIPORTS.NS,ATGL.NS,ADANITRANS.NS,ABCAPITAL.NS,ABFRL.NS,...,UBL.NS,MCDOWELL-N.NS,VBL.NS,VEDL.NS,IDEA.NS,VOLTAS.NS,WHIRLPOOL.NS,WIPRO.NS,YESBANK.NS,ZEEL.NS
ACC.NS,1.000000,0.821286,0.896445,0.927119,0.795133,0.914243,0.898485,0.904015,0.731156,0.558462,...,0.712550,0.713027,0.904435,0.923796,0.039588,0.924310,0.305205,0.958576,-0.344480,0.001211
AUBANK.NS,0.821286,1.000000,0.812322,0.829887,0.781099,0.836997,0.775413,0.781751,0.676724,0.559579,...,0.515378,0.589510,0.879353,0.756611,-0.198261,0.885301,0.566521,0.814012,-0.531994,-0.212989
AARTIIND.NS,0.896445,0.812322,1.000000,0.969642,0.892814,0.900782,0.946544,0.941148,0.542675,0.397463,...,0.506010,0.713610,0.960596,0.879797,-0.131239,0.930667,0.456598,0.951571,-0.580989,-0.264206
ADANIENT.NS,0.927119,0.829887,0.969642,1.000000,0.880254,0.952697,0.978700,0.968711,0.666767,0.487450,...,0.580601,0.707094,0.949193,0.935554,-0.039700,0.946765,0.380635,0.965810,-0.483808,-0.153504
ADANIGREEN.NS,0.795133,0.781099,0.892814,0.880254,1.000000,0.852901,0.857785,0.841502,0.491864,0.224064,...,0.293319,0.532967,0.883158,0.751337,-0.082273,0.902718,0.557877,0.868519,-0.636439,-0.360526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VOLTAS.NS,0.924310,0.885301,0.930667,0.946765,0.902718,0.937460,0.924193,0.932474,0.675098,0.520292,...,0.594318,0.717179,0.960648,0.894808,-0.071061,1.000000,0.513714,0.953387,-0.527528,-0.147356
WHIRLPOOL.NS,0.305205,0.566521,0.456598,0.380635,0.557877,0.391602,0.314846,0.330229,0.065766,-0.066004,...,-0.136274,0.172117,0.537703,0.165536,-0.564918,0.513714,1.000000,0.355800,-0.796600,-0.691490
WIPRO.NS,0.958576,0.814012,0.951571,0.965810,0.868519,0.928373,0.941179,0.941333,0.654362,0.484056,...,0.637577,0.714822,0.938340,0.934913,0.035838,0.953387,0.355800,1.000000,-0.430960,-0.085595
YESBANK.NS,-0.344480,-0.531994,-0.580989,-0.483808,-0.636439,-0.423346,-0.449811,-0.438392,0.045357,0.151523,...,0.199055,-0.263154,-0.599372,-0.227764,0.706197,-0.527528,-0.796600,-0.430960,1.000000,0.804547
ZEEL.NS,0.001211,-0.212989,-0.264206,-0.153504,-0.360526,-0.111088,-0.096288,-0.066036,0.357286,0.513832,...,0.571387,0.204179,-0.241954,0.157065,0.728104,-0.147356,-0.691490,-0.085595,0.804547,1.000000

In [7]:
corr_matrix = corr_df.to_numpy()
corr_matrix

array([[ 1.        ,  0.82128636,  0.89644517, ...,  0.95857554,
        -0.34448044,  0.00121148],
       [ 0.82128636,  1.        ,  0.81232217, ...,  0.81401151,
        -0.53199361, -0.21298888],
       [ 0.89644517,  0.81232217,  1.        , ...,  0.95157134,
        -0.58098862, -0.26420585],
       ...,
       [ 0.95857554,  0.81401151,  0.95157134, ...,  1.        ,
        -0.43095991, -0.08559523],
       [-0.34448044, -0.53199361, -0.58098862, ..., -0.43095991,
         1.        ,  0.8045468 ],
       [ 0.00121148, -0.21298888, -0.26420585, ..., -0.08559523,
         0.8045468 ,  1.        ]])

In [8]:
threshold = 0.985

corr_pairs = []
for i in range(corr_matrix.shape[0]):
    for j in range(i+1, corr_matrix.shape[1]):
        if corr_matrix[i,j] > threshold:
            corr_pairs.append([i,j])

print('Total number of correlation pairs = ',len(corr_pairs))

Total number of correlation pairs =  5

In [9]:
filtered_df = corr_df[(corr_df > threshold) & (corr_df !=1.000)]
filtered_df

,ACC.NS,AUBANK.NS,AARTIIND.NS,ADANIENT.NS,ADANIGREEN.NS,ADANIPORTS.NS,ATGL.NS,ADANITRANS.NS,ABCAPITAL.NS,ABFRL.NS,...,UBL.NS,MCDOWELL-N.NS,VBL.NS,VEDL.NS,IDEA.NS,VOLTAS.NS,WHIRLPOOL.NS,WIPRO.NS,YESBANK.NS,ZEEL.NS
ACC.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AUBANK.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AARTIIND.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ADANIENT.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ADANIGREEN.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VOLTAS.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WHIRLPOOL.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WIPRO.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YESBANK.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZEEL.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
sorted_mat = filtered_df.unstack().sort_values().drop_duplicates().dropna()
sorted_mat

HCLTECH.NS   INFY.NS          0.985396
DIVISLAB.NS  TATACONSUM.NS    0.985736
ATGL.NS      ADANITRANS.NS    0.987350
HCLTECH.NS   TCS.NS           0.988111
MINDTREE.NS  MPHASIS.NS       0.988172
dtype: float64

In [11]:
file_name = 'stocmks.xlsx'
  
# saving the excel
sorted_mat.to_csv(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [12]:
df2 = pd.read_csv('stocmks.xlsx')

In [13]:
my_columns = ("Stock_1","Stock_2","Corr")
df2.columns =  my_columns
df3  = df2.to_numpy()
print(df3)

[['HCLTECH.NS' 'INFY.NS' 0.9853959927599572]
 ['DIVISLAB.NS' 'TATACONSUM.NS' 0.9857355963897924]
 ['ATGL.NS' 'ADANITRANS.NS' 0.987350136178342]
 ['HCLTECH.NS' 'TCS.NS' 0.9881112610633136]
 ['MINDTREE.NS' 'MPHASIS.NS' 0.988171529779672]]

In [14]:
comp_set1 = pd.DataFrame(df2["Stock_1"])
comp_set1

       Stock_1
0   HCLTECH.NS
1  DIVISLAB.NS
2      ATGL.NS
3   HCLTECH.NS
4  MINDTREE.NS

In [15]:
comp_set2 = pd.DataFrame(df2["Stock_2"])
comp_set2

         Stock_2
0        INFY.NS
1  TATACONSUM.NS
2  ADANITRANS.NS
3         TCS.NS
4     MPHASIS.NS

In [16]:
lists1 = []
lists2 = []
for list in df3:
    lists1.append(list[0])
    lists2.append(list[1])
unique_stock_list = lists1[:]
[unique_stock_list.append(i) for i in lists2 if i not in lists1]
unique_stock_list

['HCLTECH.NS',
 'DIVISLAB.NS',
 'ATGL.NS',
 'HCLTECH.NS',
 'MINDTREE.NS',
 'INFY.NS',
 'TATACONSUM.NS',
 'ADANITRANS.NS',
 'TCS.NS',
 'MPHASIS.NS']

In [17]:
df_final_stocks = pd.DataFrame(unique_stock_list)
df_final_stocks

               0
0     HCLTECH.NS
1    DIVISLAB.NS
2        ATGL.NS
3     HCLTECH.NS
4    MINDTREE.NS
5        INFY.NS
6  TATACONSUM.NS
7  ADANITRANS.NS
8         TCS.NS
9     MPHASIS.NS

In [18]:
my_column1 = ["Symbl"]
df_final_stocks.columns = my_column1

In [19]:
df_final_stocks.to_csv('final_stocks_data.csv', index=False)
df_final_stocks

           Symbl
0     HCLTECH.NS
1    DIVISLAB.NS
2        ATGL.NS
3     HCLTECH.NS
4    MINDTREE.NS
5        INFY.NS
6  TATACONSUM.NS
7  ADANITRANS.NS
8         TCS.NS
9     MPHASIS.NS